{% extends 'master.html' %}

{% block title %}
    My Tennis Club - List of all members
{% endblock %}

{% block content %}
    <h3>Members</h3>
    <ul>
        {% for member in members %}
            <li>
                {% comment 'Either of the following works' %}{% endcomment %}
                <!-- <a href="/members/detail/{{ member.id }}">{{member.firstname}} {{member.lastname}}</a> -->
                <a href="{% url 'members:details' member.slug %}">{{member.firstname}} {{member.lastname}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
